<h1><%= @animal.name %></h1>
<p>
	<strong>Species:</strong>
	<%= @animal.species %>
</p>
<img src="<%= @animal.img %>" width="150"/>

<p>
	<%= link_to 'Edit', edit_animal_path %>
</p>
<p>
	<%= link_to 'Back', animals_path %>
</p>