<h1><%= @animal.name %></h1>
<p>
	<strong>Species:</strong>
	<%= @animal.species %>
</p>
<img src="<%= @animal.img %>" width="150"/>
<p>
	<strong>Bio:</strong>
	<%= @animal.bio %>
</p>

<p>
	<%= link_to 'Edit', edit_animal_path %> | 
	<%= link_to 'Delete', animal_path(@animal),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
<p>
	<%= link_to 'Back', animals_path %>
</p>